<header class="headerMain">
	<div class="headerMain-content">
		<div class="headerMain-social">
			<a class="icon-facebook" href="//www.facebook.com/LifeBound/" target="_blank"></a>
			<a class="icon-twitter" href="//twitter.com/LifeBound/" target="_blank"></a>
			<a class="icon-linkedin" href="//www.linkedin.com/company/lifebound" target="_blank"></a>
		</div>
		<div class="headerMain-logo">
			<a href="index.html">
				<img src="image-library/logo.png">
			</a>
			<h1>Life<span>Bound</span><p>Coaching for College, Career, &amp; Life</p></h1>
		</div>
	</div>
</header>