<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- meta -->
	<% var title = "Life Bound - Academic Coaching"; %>
	<%- include partials/meta.ejs %>
	<!-- /meta -->
</head>
<body>
	<%- include partials/header-main.ejs %>
	<% var page = "training"; %>
	<%- include partials/nav-main.ejs %>
	<main>
		<div class="sliderMain">
			<div>
				<picture>
					<img src="image-library\training-slider\image-01.jpg">
				</picture>
			</div>
			<div>
				<picture>
					<img src="image-library\training-slider\image-02.jpg">
				</picture>
			</div>
			<div>
				<picture>
					<img src="image-library\training-slider\image-03.jpg">
				</picture>
			</div>
		</div>
		<section class="h-spaceEnds--lg">
			<div class="row">
				<div class="column">
					<h2 class="underlined underlined--dot">Training</h2>
					<p class="lead">LifeBound Trains Faculty, Staff, Administrators, Business Executives &amp; Managers and Students.</p>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="column">
					<h2 class="h-h3">Academic Coaching Training for Educators:</h2>
					<p>LifeBound trains administrators, faculty and staff in coaching skills to help students succeed in college, career and life. Our methodology incorporates a holistic approach for working with students on their self-awareness, purpose and vision, self-management, social and emotional well-being, and professional skills development. We support both K12 and Higher Education institutions in creating a culture of coaching on campus through a variety of training and certification programs.</p>
					<p class="h-h5">"This is by far one of the best trainings of my thirty-year career, and I’ve been to a lot!"</p>
					<p class="subtle">– Professor, Texas State University</p>
				</div>
			</div>
			<div class="row clearfix h-spaceBottom--xlg">
				<div class="column med-12 lg-14 h-spaceRight">
					<p class="lead">Upcoming Trainings:</p>
					<p class="subtle">Six day In-Depth Trainings in Denver, Colorado (offered in two separate 3 day sessions)</p>
					<p>
						<ul>
							<li>June 13 – 15, 2016  Session I</li>
							<li>July 18 – 20, 2016 Session II</li>
							<li>October 24 – 26, 2016  Session I</li>
							<li>December 5 – 7, 2016  Session II</li>
						</ul>
					</p>
					<p class="subtle">Five day Intensive Trainings in Hawaii and Hong Kong</p>
					<p>
						<ul>
							<li>June 20 – 24th, 2016  Honolulu, Hawaii</li>
							<li>January, 2017   Hong Kong</li>
						</ul>
					</p>
				</div>
				<div class="column med-12 lg-10">
					<figure class="figure noMax">
						<img src="image-library\training-content\image-01.png">
					</figure>
				</div>
			</div>
		</section>
		<section>
			<div class="row clearfix h-spaceBottom--xlg">
				<div class="column">
					<h2 class="h-h3">Academic Coaching Training for Peer Mentors:</h2>
				</div>
				<div class="column med-12 lg-10 h-spaceRight">
					<figure class="figure noMax">
						<img src="image-library\training-content\image-02.png">
					</figure>
				</div>
				<div class="column med-12 lg-14">
					<p>LifeBound trains peer mentors in coaching and leadership skills to help them work with their fellow students in improving studying habits, setting goals, taking positive risks and being accountable. This training also equips peer mentors with strategies for managing conflict and engaging in courageous conversations as leaders on campus. </p>
					<p class="h-h5">"Thank you for giving me skills to be a better mentor. I’m much more confident now to work with my mentee and help him succeed as a freshman here at Purdue."</p>
					<p class="subtle">– Peer Mentor, Purdue University</p>
				</div>
			</div>
		</section>
		<section>
			<div class="row clearfix h-spaceBottom--xlg">
				<div class="column med-12 lg-14 h-spaceRight">
					<h2 class="h-h3">Professional Development for Educators:</h2>
					<p>LifeBound conducts customized professional development for faculty and staff in topics ranging from Design Thinking to Emotional Intelligence. Call 303-327-5688 to discuss your needs and see how we can tailor a training to help you meet your goals.</p>
					<p class="h-h5">"You really listened to our needs and delivered exactly what I hoped for today. Thanks for coming out and working with us."</p>
					<p class="subtle">- Principal, Ridge View Academy</p>
					<p><a class="icon-info pdf-popup" href="file-library\professional-dev.pdf">Professional Development Topics</a></p>
				</div>
				<div class="column med-12 lg-10">
					<figure class="figure noMax">
						<img src="image-library\training-content\image-03.png">
					</figure>
				</div>
			</div>
		</section>
		<section>
			<div class="row clearfix h-spaceBottom--xlg">
				<div class="column">
					<h2 class="h-h3">Professional Development for Executives &amp; Managers Across Industries:</h2>
				</div>
				<div class="column med-12 lg-10 h-spaceRight">
					<figure class="figure noMax">
						<img src="image-library\training-content\image-04.png">
					</figure>
				</div>
				<div class="column med-12 lg-14">
					<p>Whether you are looking for training in Change Management, Coaching for Managers, or Onboarding for New Hires, LifeBound can help you meet your professional development needs. Call 303-327-5688 to explore training that will help your leadership team and staff increase productivity, improve management, and ensure your business’s success.</p>
					<p class="h-h5">"Very beneficial. Perfect combination of hands-on and listening. Thank you!"</p>
					<p class="subtle">- Graduate Faculty, Krannert School of Management at Purdue University</p>
					<p><a class="icon-info pdf-popup" href="file-library\business-professional-skills.pdf">Business &amp; Professional Skills Topics</a></p>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="column">
					<div class="testimonialSlider">
						<div>
							<p class="h-h4">"Excellent content and conference, and I don’t give ‘excellents’ freely or frequently! "</p>
							<p class="h-h6">- Faculty, College of Southern Idaho</p>
						</div>
						<div>
							<p class="h-h4">"Thank you for making me a better math instructor. I watched my student’s mindset shift right before my eyes."</p>
							<p class="h-h6">- Instructor, Georgia Perimeter College</p>
						</div>
						<div>
							<p class="h-h4">"This was excellent. I feel empowered to coach students from many different perspectives. Thank you!"</p>
							<p class="h-h6">- Faculty Colorado Community College</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<%- include partials/footer-main.ejs %>
	<script type="text/javascript">
	    $('.pdf-popup').magnificPopup({
	        type: 'iframe',
	        mainClass: 'mfp-fade',
	        removalDelay: 160,
	        preloader: false,
	        fixedContentPos: false
	    });
	</script>
</body>
</html>
