.headerMain {
    @extend %flex;

    position: relative;

    flex: 0 0 auto;

    width: 100%;
    padding: 0 $spacingBase $spacingSm;

    font-family: $fontHighlight;

    color: $colorGreyLightest;
    background: $colorGreyLightest;
}

.headerMain-content {
    @extend %flex;
    @extend %contained;

    position: relative;

    flex-direction: column;
    justify-content: space-between;

    padding: 0 0 $spacingSm;
}

.headerMain-social {
    @extend %flex;

    @include fontSize(22px);

    justify-content: flex-end;
    align-self: flex-start;
    align-self: center;

    border-radius: 0 0 5px 5px;
    background: $colorGreyDarkest;

    @include media(sm) {
        align-self: flex-end;
    }

    a {
        padding: $spacingXSm;

        cursor: pointer;

        &:hover {
            &:before {
                color: $colorGrey;
            }
        }
        &:before {
            @extend %transition;

            cursor: pointer;

            color: $colorWhite;
        }
    }
}

.headerMain-logo {
    @extend %flex;

    flex-direction: column;
    align-items: center;

    margin-top: $spacingSm;

    @include media(sm) {
        margin-top: -$spacingBase;
    }
    @include media(med) {
        flex-direction: row;
    }

    a {
        margin-right: 0;

        @include media(med) {
            margin-right: 35px;
        }

        img {
            @extend %transition;

            width: 150px;

            &:hover {
                opacity: .85;
            }
        }
    }
    h1 {
        margin: 0;

        text-align: center;

        color: $colorGreyDarker;

        @include media(med) {
            text-align: left;
        }

        span {
            color: $colorBrand1;
        }
        p {
            @extend h3;

            display: block;
            margin: 0;
            margin-left: 0;

            color: $colorGreyDarker;

            @include media(med) {
                margin-left: 10px;
            }
        }
    }
}
