.navMain {
    @extend %flex;

    @include fontSize($fontSizeLg);

    position: relative;
    z-index: 1000;
    top: 0;
    left: 0;

    overflow: hidden;

    flex-direction: column;

    height: 53px;

    font-family: $fontHighlight;

    background: $colorBrand1;

    @include media(lg) {
        flex-direction: row;
    }

    &.open {
        height: auto;

        ul {
            @include transition(transform);

            transform: scale(1, 1);
            transform-origin: top;
        }
    }
    .mobileToggle {
        @extend %flex;

        align-items: center;
        justify-content: center;

        width: 100%;
        min-height: 100%;
        padding: $spacingBase 0;

        cursor: pointer;

        color: $colorGreyLightest;

        @include media(lg) {
            display: none;
        }

        &:hover {
            color: $colorGreyLightest;
            background: darken($colorBrand1, 15%);
        }
    }
    ul {
        @extend %unstyledList;
        @extend %contained;
        @extend %flex;

        @include transition(transform);

        position: relative;

        flex-direction: column;
        justify-content: space-between;

        transform: scale(1, 0);
        transform-origin: top;

        @include media(lg) {
            flex-direction: row;

            transform: scale(1, 1);
        }

        li {
            @extend %flex;

            @include fontSize(18px);

            position: relative;

            flex: 1 0 auto;

            a {
                @extend %flex;

                @include transition;

                position: relative;

                flex: 1 0 auto;
                justify-content: center;

                padding: $spacingBase 0;

                text-align: center;

                color: $colorGreyLightest;
                background: transparent;

                &:hover,
                &.active {
                    color: $colorGreyLightest;
                    background: darken($colorBrand1, 15%);
                }
            }
        }
    }
}
