.popup {
    position: relative;

    width: 90%;
    max-width: 1200px;
    margin: 40px auto;

    text-align: left;

    background: #fff;

    .popupImage {
        @extend %flex;

        position: relative;

        overflow: hidden;

        justify-content: center;

        width: 100%;
        height: 250px;
        margin: 0;
        padding: 0;

        @include media(sm) {
            height: 300px;
        }
        @include media(med) {
            height: 350px;
        }
        @include media(lg) {
            height: 400px;
        }

        img {
            max-width: none;
            height: 100%;
        }
    }
    .popupContent {
        padding: 20px 30px;
    }
}
