.sliderMain {
    position: relative;

    height: 450px;
    @include media(lg) {
        height: 600px;
    }
    .slick-list {
        position: relative;

        max-height: 100%;
    }
    .slick-track {
        position: relative;

        max-height: 100%;
    }
    .slick-slide {
        @extend %flex;

        position: relative;
        z-index: 1;

        justify-content: center;

        width: 100%;
        max-height: 100%;

        outline: none;

        picture {
            @extend %flex;

            position: relative;
            overflow: hidden;

            flex: 1 0 auto;
            justify-content: center;

            min-width: 100%;
            max-width: none;
            min-height: 100%;
            max-height: 100%;

            img {
                flex-shrink: 0;

                min-width: 100%;
                max-width: none;
                max-height: 100%;
            }
        }
    }
}
