@mixin iconStyle {
    display: inline-block;

    width: 1em;
    margin: 0 .2em;

    text-align: center;
    text-decoration: none;
    text-transform: none;
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1em;

    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);

    speak: none;
    -moz-osx-font-smoothing: grayscale;
}
%iconStyle {
    @include iconStyle;
}
