@mixin unstyledList {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    list-style: none;

    text-indent: 0;

    li {
        display: inline-block;

        margin: 0;
        padding: 0;

        ul {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;

            list-style: none;

            text-indent: 0;

            li {
                display: inline-block;

                margin: 0;
                padding: 0;
            }
        }
    }
}

%unstyledList,
.unsttledList {
    @include unstyledList;
}
