/***********************************
    Emulate Headings Styles
***********************************/
.h-h1 {
    @extend h1;
}
.h-h2 {
    @extend h2;
}
.h-h3 {
    @extend h3;
}
.h-h4 {
    @extend h4;
}
.h-h5 {
    @extend h5;
}
.h-h6 {
    @extend h6;
}


/***********************************
    Override Text Alignment
***********************************/
.h-alignLeft {
    text-align: left !important;
}
.h-alignCenter {
    text-align: center !important;
}
.h-alignRight {
    text-align: right !important;
}
.h-justify {
    text-align: justify !important;
}


/***********************************
    Override Text Color
***********************************/
.h-colorBrand1 {
    color: $colorBrand1 !important;
}
.h-colorBrand2 {
    color: $colorBrand2 !important;
}
.h-colorBrand3 {
    color: $colorBrand3 !important;
}
.h-colorBrand4 {
    color: $colorBrand4 !important;
}


/***********************************
    Internal Spacing
***********************************/
.h-space {
    padding: $spacingBase !important;
    &--xsm {
        padding: $spacingXSm !important;
    }
    &--sm {
        padding: $spacingSm !important;
    }
    &--lg {
        padding: $spacingLg !important;
    }
    &--xlg {
        padding: $spacingXLg !important;
    }
}
.h-spaceEnds {
    padding-top: $spacingBase !important;
    padding-bottom: $spacingBase !important;
    &--xsm {
        padding-top: $spacingXSm !important;
        padding-bottom: $spacingXSm !important;
    }
    &--sm {
        padding-top: $spacingSm !important;
        padding-bottom: $spacingSm !important;
    }
    &--lg {
        padding-top: $spacingLg !important;
        padding-bottom: $spacingLg !important;
    }
    &--xlg {
        padding-top: $spacingXLg !important;
        padding-bottom: $spacingXLg !important;
    }
}
.h-spaceSides {
    padding-left: $spacingBase !important;
    padding-right: $spacingBase !important;
    &--xsm {
        padding-left: $spacingXSm !important;
        padding-right: $spacingXSm !important;
    }
    &--sm {
        padding-left: $spacingSm !important;
        padding-right: $spacingSm !important;
    }
    &--lg {
        padding-left: $spacingLg !important;
        padding-right: $spacingLg !important;
    }
    &--xlg {
        padding-left: $spacingXLg !important;
        padding-right: $spacingXLg !important;
    }
}
.h-spaceBottom {
    padding-bottom: $spacingBase !important;
    &--xsm {
        padding-bottom: $spacingXSm !important;
    }
    &--sm {
        padding-bottom: $spacingSm !important;
    }
    &--lg {
        padding-bottom: $spacingLg !important;
    }
    &--xlg {
        padding-bottom: $spacingXLg !important;
    }
}
.h-spaceTop {
    padding-top: $spacingBase !important;
    &--xsm {
        padding-top: $spacingXSm !important;
    }
    &--sm {
        padding-top: $spacingSm !important;
    }
    &--lg {
        padding-top: $spacingLg !important;
    }
    &--xlg {
        padding-top: $spacingXLg !important;
    }
}
.h-spaceLeft {
    padding-left: $spacingBase !important;
    &--xsm {
        padding-left: $spacingXSm !important;
    }
    &--sm {
        padding-left: $spacingSm !important;
    }
    &--lg {
        padding-left: $spacingLg !important;
    }
    &--xlg {
        padding-left: $spacingXLg !important;
    }
}
.h-spaceRight {
    padding-right: $spacingBase !important;
    &--xsm {
        padding-right: $spacingXSm !important;
    }
    &--sm {
        padding-right: $spacingSm !important;
    }
    &--lg {
        padding-right: $spacingLg !important;
    }
    &--xlg {
        padding-right: $spacingXLg !important;
    }
}


/***********************************
    External Spacing
***********************************/
.h-isolate {
    margin: $spacingBase !important;
    &--xsm {
        margin: $spacingXSm !important;
    }
    &--sm {
        margin: $spacingSm !important;
    }
    &--lg {
        margin: $spacingLg !important;
    }
    &--xlg {
        margin: $spacingXLg !important;
    }
}
.h-isolateEnds {
    margin-top: $spacingBase !important;
    margin-bottom: $spacingBase !important;
    &--xsm {
        margin-top: $spacingXSm !important;
        margin-bottom: $spacingXSm !important;
    }
    &--sm {
        margin-top: $spacingSm !important;
        margin-bottom: $spacingSm !important;
    }
    &--lg {
        margin-top: $spacingLg !important;
        margin-bottom: $spacingLg !important;
    }
    &--xlg {
        margin-top: $spacingXLg !important;
        margin-bottom: $spacingXLg !important;
    }
}
.h-isolateSides {
    margin-left: $spacingBase !important;
    margin-right: $spacingBase !important;
    &--xsm {
        margin-left: $spacingXSm !important;
        margin-right: $spacingXSm !important;
    }
    &--sm {
        margin-left: $spacingSm !important;
        margin-right: $spacingSm !important;
    }
    &--lg {
        margin-left: $spacingLg !important;
        margin-right: $spacingLg !important;
    }
    &--xlg {
        margin-left: $spacingXLg !important;
        margin-right: $spacingXLg !important;
    }
}
.h-isolateBottom {
    margin-bottom: $spacingBase !important;
    &--xsm {
        margin-bottom: $spacingXSm !important;
    }
    &--sm {
        margin-bottom: $spacingSm !important;
    }
    &--lg {
        margin-bottom: $spacingLg !important;
    }
    &--xlg {
        margin-bottom: $spacingXLg !important;
    }
}
.h-isolateTop {
    margin-top: $spacingBase !important;
    &--xsm {
        margin-top: $spacingXSm !important;
    }
    &--sm {
        margin-top: $spacingSm !important;
    }
    &--lg {
        margin-top: $spacingLg !important;
    }
    &--xlg {
        margin-top: $spacingXLg !important;
    }
}
.h-isolateLeft {
    margin-left: $spacingBase !important;
    &--xsm {
        margin-left: $spacingXSm !important;
    }
    &--sm {
        margin-left: $spacingSm !important;
    }
    &--lg {
        margin-left: $spacingLg !important;
    }
    &--xlg {
        margin-left: $spacingXLg !important;
    }
}
.h-isolateRight {
    margin-right: $spacingBase !important;
    &--xsm {
        margin-right: $spacingXSm !important;
    }
    &--sm {
        margin-right: $spacingSm !important;
    }
    &--lg {
        margin-right: $spacingLg !important;
    }
    &--xlg {
        margin-right: $spacingXLg !important;
    }
}


/***********************************
    Center Align Blocks
***********************************/
.h-center {
    display: block !important;

    margin-right: auto !important;
    margin-left: auto !important;
}


/***********************************
    Floating Styles
***********************************/
.float-left {
    float: left !important;
    &--lg {
        float: none !important;
        @include media(lg) {
            float: left !important;
        }
    }
    &--med {
        float: none !important;
        @include media(med) {
            float: left !important;
        }
    }
    &--sm {
        float: none !important;
        @include media(sm) {
            float: left !important;
        }
    }
}
.float-right {
    float: right !important;
    &--lg {
        float: none !important;
        @include media(lg) {
            float: right !important;
        }
    }
    &--med {
        float: none !important;
        @include media(med) {
            float: right !important;
        }
    }
    &--sm {
        float: none !important;
        @include media(sm) {
            float: right !important;
        }
    }
}
.clearfix:after {
    display: block !important;
    visibility: hidden !important;
    clear: both !important;

    height: 0 !important;

    content: ' ' !important;
    font-size: 0 !important;
}

.noWrap {
    white-space: nowrap !important;
}