/*********************************
		Fonts
*********************************/
//Font Stacks
$fontPath: '../fonts/';
$fontBase: 'Droid Serif', serif;
$fontHighlight: 'Montserrat', sans-serif;

//Font Sizes
$h1Size: 36px!default;
$h2Size: 30px!default;
$h3Size: 24px!default;
$h4Size: 20px!default;
$h5Size: 16px!default;
$h6Size: 14px!default;

$fontSizeXSm: 12px!default;
$fontSizeSm: 14px!default;
$fontSizeBase: 16px!default;
$fontSizeLg: 18px!default;
$fontSizeXLg: 22px!default;

$lineHeight: 26px!default;


/*********************************
		Colors
*********************************/
//Monochrome Colors
$colorWhite: #fff;
$colorGreyLightest: darken($colorWhite, 12.5%);
$colorGreyLighter: darken($colorWhite, 25%);
$colorGreyLight: darken($colorWhite, 37.5%);
$colorGrey: darken($colorWhite, 50%);
$colorGreyDark: darken($colorWhite, 62.5%);
$colorGreyDarker: darken($colorWhite, 75%);
$colorGreyDarkest: darken($colorWhite, 87.5%);
$colorBlack: darken($colorWhite, 100%);

//Alert Colors
$colorSuccess: #00b200;
$colorWarning: #ffd700;
$colorError: #990000;

//Brand Colors
$colorBrand1: #cc2a36;
$colorBrand2: #660000;
$colorBrand3: $colorGreyDarkest;
$colorBrand4: transparent;
$colorBrand5: transparent;


/*********************************
		Layout
*********************************/
//Spacing
$spacingBase: 14px;
$spacingXSm: $spacingBase/2.5;
$spacingSm: $spacingBase/2;
$spacingLg: $spacingBase*2;
$spacingXLg: $spacingBase*2.5;

//Grid
$gridWidthBase: (100%)/24;

/*********************************
		Media Queries
*********************************/
//Starting Sizes
$startXSm: 1px!default;
$startSm: 481px!default;
$startMed: 641px!default;
$startLg: 851px!default;
$startXLg: 1025px!default;
$startXXLg: 1441px!default;

//Ending Sizes
$endXSm: $startSm - 1px;
$endSm: $startMed - 1px;
$endMed: $startLg - 1px;
$endLg: $startXLg - 1px;
$endXLg: $startXXLg - 1px;