.testPallet {
    @extend %transition;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    width: 90px;
    height: 80px;
    margin: 20px 10px;
    padding: 0;

    box-shadow: 1px 1px 3px rgba($colorGreyDarkest, .25);

    &:hover {
        top: -3px;
        left: -3px;

        box-shadow: 3px 3px 6px rgba($colorGreyDarkest, .45);

        &:before {
            opacity: 1;
            text-shadow: 3px 3px 6px rgba($colorGreyDarkest, .65);
        }
    }
    &:before {
        @extend %transition;

        @include fontSize(12px, false);

        position: absolute;
        right: 0;
        bottom: 100%;
        left: 0;
        line-height: 16px;

        display: block;

        width: 100%;
        padding: 5px 0;

        content: attr(data-color);
        text-align: center;
        font-weight: bold;
        font-family: $fontHighlight;

        opacity: 0;
        color: $colorGreyDarker;
        text-shadow: 1px 1px 3px rgba($colorGreyDarkest, .25);
    }
    &--white {
        background: $colorWhite;
    }
    &--greyLightest {
        background: $colorGreyLightest;
    }
    &--greyLighter {
        background: $colorGreyLighter;
    }
    &--greyLight {
        background: $colorGreyLight;
    }
    &--grey {
        background: $colorGrey;
    }
    &--greyDark {
        background: $colorGreyDark;
    }
    &--greyDarker {
        background: $colorGreyDarker;
    }
    &--greyDarkest {
        background: $colorGreyDarkest;
    }
    &--black {
        background: $colorBlack;
    }
    &--success {
        background: $colorSuccess;
    }
    &--warning {
        background: $colorWarning;
    }
    &--error {
        background: $colorError;
    }
    &--brand1 {
        background: $colorBrand1;
    }
    &--brand2 {
        background: $colorBrand2;
    }
    &--brand3 {
        background: $colorBrand3;
    }
    &--brand4 {
        background: $colorBrand4;
    }
    &--brand5 {
        background: $colorBrand5;
    }
}
