body {
    @extend %flex;

    @include fontSize($fontSizeBase);

    position: relative;

    overflow-x: hidden;

    flex-direction: column;

    min-width: 100%;
    min-height: 100%;
    margin: 0;

    font-family: $fontBase;

    color: $colorGreyDarker;
    background: $colorGreyLightest;
}
body.nav-stuck {
    .navMain {
        position: fixed;

        width: 100%;
    }
}