.row {
    @extend %contained;
    @extend %flex;

    overflow: hidden;

    flex-flow: row wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;

    padding: 0 $spacingBase;

    &--flush {
        padding: 0;
    }
}

.column {
    @include fontSize($fontSizeBase);

    display: inline-block;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;

    max-width: 100%;
    margin: 0;
    padding: 0;

    text-align: left;

    &--offsetRight {
        flex-basis: auto;

        margin-left: auto;

        &-sm {
            flex-basis: auto;

            margin-right: 0;
            margin-left: 0;

            @include media(sm) {
                margin-left: auto;
            }
        }
        &-med {
            flex-basis: auto;

            margin-right: 0;
            margin-left: 0;

            @include media(med) {
                margin-left: auto;
            }
        }
        &-lg {
            flex-basis: auto;

            margin-right: 0;
            margin-left: 0;

            @include media(lg) {
                margin-left: auto;
            }
        }
    }
    &--offsetLeft {
        flex-basis: auto;

        margin-right: auto;

        &-sm {
            flex-basis: auto;

            margin-right: 0;
            margin-left: 0;

            @include media(sm) {
                margin-right: auto;
            }
        }
        &-med {
            flex-basis: auto;

            margin-right: 0;
            margin-left: 0;

            @include media(med) {
                margin-right: auto;
            }
        }
        &-lg {
            flex-basis: auto;

            margin-right: 0;
            margin-left: 0;

            @include media(lg) {
                margin-right: auto;
            }
        }
    }
}

@include media(xsm) {
    .xsm-auto {
        flex-basis: auto;

        max-width: 100%;
    }
    .xsm-1 {
        flex-basis: $gridWidthBase * 1;

        max-width: $gridWidthBase * 1;
    }
    .xsm-2 {
        flex-basis: $gridWidthBase * 2;

        max-width: $gridWidthBase * 2;
    }
    .xsm-3 {
        flex-basis: $gridWidthBase * 3;

        max-width: $gridWidthBase * 3;
    }
    .xsm-4 {
        flex-basis: $gridWidthBase * 4;

        max-width: $gridWidthBase * 4;
    }
    .xsm-5 {
        flex-basis: $gridWidthBase * 5;

        max-width: $gridWidthBase * 5;
    }
    .xsm-6 {
        flex-basis: $gridWidthBase * 6;

        max-width: $gridWidthBase * 6;
    }
    .xsm-7 {
        flex-basis: $gridWidthBase * 7;

        max-width: $gridWidthBase * 7;
    }
    .xsm-8 {
        flex-basis: $gridWidthBase * 8;

        max-width: $gridWidthBase * 8;
    }
    .xsm-9 {
        flex-basis: $gridWidthBase * 9;

        max-width: $gridWidthBase * 9;
    }
    .xsm-10 {
        flex-basis: $gridWidthBase * 10;

        max-width: $gridWidthBase * 10;
    }
    .xsm-11 {
        flex-basis: $gridWidthBase * 11;

        max-width: $gridWidthBase * 11;
    }
    .xsm-12 {
        flex-basis: $gridWidthBase * 12;

        max-width: $gridWidthBase * 12;
    }
    .xsm-13 {
        flex-basis: $gridWidthBase * 13;

        max-width: $gridWidthBase * 13;
    }
    .xsm-14 {
        flex-basis: $gridWidthBase * 14;

        max-width: $gridWidthBase * 14;
    }
    .xsm-15 {
        flex-basis: $gridWidthBase * 15;

        max-width: $gridWidthBase * 15;
    }
    .xsm-16 {
        flex-basis: $gridWidthBase * 16;

        max-width: $gridWidthBase * 16;
    }
    .xsm-17 {
        flex-basis: $gridWidthBase * 17;

        max-width: $gridWidthBase * 17;
    }
    .xsm-18 {
        flex-basis: $gridWidthBase * 18;

        max-width: $gridWidthBase * 18;
    }
    .xsm-19 {
        flex-basis: $gridWidthBase * 19;

        max-width: $gridWidthBase * 19;
    }
    .xsm-20 {
        flex-basis: $gridWidthBase * 20;

        max-width: $gridWidthBase * 20;
    }
    .xsm-21 {
        flex-basis: $gridWidthBase * 21;

        max-width: $gridWidthBase * 21;
    }
    .xsm-22 {
        flex-basis: $gridWidthBase * 22;

        max-width: $gridWidthBase * 22;
    }
    .xsm-23 {
        flex-basis: $gridWidthBase * 23;

        max-width: $gridWidthBase * 23;
    }
    .xsm-24 {
        flex-basis: $gridWidthBase * 24;

        max-width: $gridWidthBase * 24;
    }
} /*end xsm*/

@include media(sm) {
    .sm-auto {
        flex-basis: auto;

        max-width: 100%;
    }
    .sm-1 {
        flex-basis: $gridWidthBase * 1;

        max-width: $gridWidthBase * 1;
    }
    .sm-2 {
        flex-basis: $gridWidthBase * 2;

        max-width: $gridWidthBase * 2;
    }
    .sm-3 {
        flex-basis: $gridWidthBase * 3;

        max-width: $gridWidthBase * 3;
    }
    .sm-4 {
        flex-basis: $gridWidthBase * 4;

        max-width: $gridWidthBase * 4;
    }
    .sm-5 {
        flex-basis: $gridWidthBase * 5;

        max-width: $gridWidthBase * 5;
    }
    .sm-6 {
        flex-basis: $gridWidthBase * 6;

        max-width: $gridWidthBase * 6;
    }
    .sm-7 {
        flex-basis: $gridWidthBase * 7;

        max-width: $gridWidthBase * 7;
    }
    .sm-8 {
        flex-basis: $gridWidthBase * 8;

        max-width: $gridWidthBase * 8;
    }
    .sm-9 {
        flex-basis: $gridWidthBase * 9;

        max-width: $gridWidthBase * 9;
    }
    .sm-10 {
        flex-basis: $gridWidthBase * 10;

        max-width: $gridWidthBase * 10;
    }
    .sm-11 {
        flex-basis: $gridWidthBase * 11;

        max-width: $gridWidthBase * 11;
    }
    .sm-12 {
        flex-basis: $gridWidthBase * 12;

        max-width: $gridWidthBase * 12;
    }
    .sm-13 {
        flex-basis: $gridWidthBase * 13;

        max-width: $gridWidthBase * 13;
    }
    .sm-14 {
        flex-basis: $gridWidthBase * 14;

        max-width: $gridWidthBase * 14;
    }
    .sm-15 {
        flex-basis: $gridWidthBase * 15;

        max-width: $gridWidthBase * 15;
    }
    .sm-16 {
        flex-basis: $gridWidthBase * 16;

        max-width: $gridWidthBase * 16;
    }
    .sm-17 {
        flex-basis: $gridWidthBase * 17;

        max-width: $gridWidthBase * 17;
    }
    .sm-18 {
        flex-basis: $gridWidthBase * 18;

        max-width: $gridWidthBase * 18;
    }
    .sm-19 {
        flex-basis: $gridWidthBase * 19;

        max-width: $gridWidthBase * 19;
    }
    .sm-20 {
        flex-basis: $gridWidthBase * 20;

        max-width: $gridWidthBase * 20;
    }
    .sm-21 {
        flex-basis: $gridWidthBase * 21;

        max-width: $gridWidthBase * 21;
    }
    .sm-22 {
        flex-basis: $gridWidthBase * 22;

        max-width: $gridWidthBase * 22;
    }
    .sm-23 {
        flex-basis: $gridWidthBase * 23;

        max-width: $gridWidthBase * 23;
    }
    .sm-24 {
        flex-basis: $gridWidthBase * 24;

        max-width: $gridWidthBase * 24;
    }
} /*end sm*/

@include media(med) {
    .med-auto {
        flex-basis: auto;

        max-width: 100%;
    }
    .med-1 {
        flex-basis: $gridWidthBase * 1;

        max-width: $gridWidthBase * 1;
    }
    .med-2 {
        flex-basis: $gridWidthBase * 2;

        max-width: $gridWidthBase * 2;
    }
    .med-3 {
        flex-basis: $gridWidthBase * 3;

        max-width: $gridWidthBase * 3;
    }
    .med-4 {
        flex-basis: $gridWidthBase * 4;

        max-width: $gridWidthBase * 4;
    }
    .med-5 {
        flex-basis: $gridWidthBase * 5;

        max-width: $gridWidthBase * 5;
    }
    .med-6 {
        flex-basis: $gridWidthBase * 6;

        max-width: $gridWidthBase * 6;
    }
    .med-7 {
        flex-basis: $gridWidthBase * 7;

        max-width: $gridWidthBase * 7;
    }
    .med-8 {
        flex-basis: $gridWidthBase * 8;

        max-width: $gridWidthBase * 8;
    }
    .med-9 {
        flex-basis: $gridWidthBase * 9;

        max-width: $gridWidthBase * 9;
    }
    .med-10 {
        flex-basis: $gridWidthBase * 10;

        max-width: $gridWidthBase * 10;
    }
    .med-11 {
        flex-basis: $gridWidthBase * 11;

        max-width: $gridWidthBase * 11;
    }
    .med-12 {
        flex-basis: $gridWidthBase * 12;

        max-width: $gridWidthBase * 12;
    }
    .med-13 {
        flex-basis: $gridWidthBase * 13;

        max-width: $gridWidthBase * 13;
    }
    .med-14 {
        flex-basis: $gridWidthBase * 14;

        max-width: $gridWidthBase * 14;
    }
    .med-15 {
        flex-basis: $gridWidthBase * 15;

        max-width: $gridWidthBase * 15;
    }
    .med-16 {
        flex-basis: $gridWidthBase * 16;

        max-width: $gridWidthBase * 16;
    }
    .med-17 {
        flex-basis: $gridWidthBase * 17;

        max-width: $gridWidthBase * 17;
    }
    .med-18 {
        flex-basis: $gridWidthBase * 18;

        max-width: $gridWidthBase * 18;
    }
    .med-19 {
        flex-basis: $gridWidthBase * 19;

        max-width: $gridWidthBase * 19;
    }
    .med-20 {
        flex-basis: $gridWidthBase * 20;

        max-width: $gridWidthBase * 20;
    }
    .med-21 {
        flex-basis: $gridWidthBase * 21;

        max-width: $gridWidthBase * 21;
    }
    .med-22 {
        flex-basis: $gridWidthBase * 22;

        max-width: $gridWidthBase * 22;
    }
    .med-23 {
        flex-basis: $gridWidthBase * 23;

        max-width: $gridWidthBase * 23;
    }
    .med-24 {
        flex-basis: $gridWidthBase * 24;

        max-width: $gridWidthBase * 24;
    }
} /*end med*/

@include media(lg) {
    .lg-auto {
        flex-basis: auto;

        max-width: 100%;
    }
    .lg-1 {
        flex-basis: $gridWidthBase * 1;

        max-width: $gridWidthBase * 1;
    }
    .lg-2 {
        flex-basis: $gridWidthBase * 2;

        max-width: $gridWidthBase * 2;
    }
    .lg-3 {
        flex-basis: $gridWidthBase * 3;

        max-width: $gridWidthBase * 3;
    }
    .lg-4 {
        flex-basis: $gridWidthBase * 4;

        max-width: $gridWidthBase * 4;
    }
    .lg-5 {
        flex-basis: $gridWidthBase * 5;

        max-width: $gridWidthBase * 5;
    }
    .lg-6 {
        flex-basis: $gridWidthBase * 6;

        max-width: $gridWidthBase * 6;
    }
    .lg-7 {
        flex-basis: $gridWidthBase * 7;

        max-width: $gridWidthBase * 7;
    }
    .lg-8 {
        flex-basis: $gridWidthBase * 8;

        max-width: $gridWidthBase * 8;
    }
    .lg-9 {
        flex-basis: $gridWidthBase * 9;

        max-width: $gridWidthBase * 9;
    }
    .lg-10 {
        flex-basis: $gridWidthBase * 10;

        max-width: $gridWidthBase * 10;
    }
    .lg-11 {
        flex-basis: $gridWidthBase * 11;

        max-width: $gridWidthBase * 11;
    }
    .lg-12 {
        flex-basis: $gridWidthBase * 12;

        max-width: $gridWidthBase * 12;
    }
    .lg-13 {
        flex-basis: $gridWidthBase * 13;

        max-width: $gridWidthBase * 13;
    }
    .lg-14 {
        flex-basis: $gridWidthBase * 14;

        max-width: $gridWidthBase * 14;
    }
    .lg-15 {
        flex-basis: $gridWidthBase * 15;

        max-width: $gridWidthBase * 15;
    }
    .lg-16 {
        flex-basis: $gridWidthBase * 16;

        max-width: $gridWidthBase * 16;
    }
    .lg-17 {
        flex-basis: $gridWidthBase * 17;

        max-width: $gridWidthBase * 17;
    }
    .lg-18 {
        flex-basis: $gridWidthBase * 18;

        max-width: $gridWidthBase * 18;
    }
    .lg-19 {
        flex-basis: $gridWidthBase * 19;

        max-width: $gridWidthBase * 19;
    }
    .lg-20 {
        flex-basis: $gridWidthBase * 20;

        max-width: $gridWidthBase * 20;
    }
    .lg-21 {
        flex-basis: $gridWidthBase * 21;

        max-width: $gridWidthBase * 21;
    }
    .lg-22 {
        flex-basis: $gridWidthBase * 22;

        max-width: $gridWidthBase * 22;
    }
    .lg-23 {
        flex-basis: $gridWidthBase * 23;

        max-width: $gridWidthBase * 23;
    }
    .lg-24 {
        flex-basis: $gridWidthBase * 24;

        max-width: $gridWidthBase * 24;
    }
} /*end lg*/

@include media(xlg) {
    .xlg-auto {
        flex-basis: auto;

        max-width: 100%;
    }
    .xlg-1 {
        flex-basis: $gridWidthBase * 1;

        max-width: $gridWidthBase * 1;
    }
    .xlg-2 {
        flex-basis: $gridWidthBase * 2;

        max-width: $gridWidthBase * 2;
    }
    .xlg-3 {
        flex-basis: $gridWidthBase * 3;

        max-width: $gridWidthBase * 3;
    }
    .xlg-4 {
        flex-basis: $gridWidthBase * 4;

        max-width: $gridWidthBase * 4;
    }
    .xlg-5 {
        flex-basis: $gridWidthBase * 5;

        max-width: $gridWidthBase * 5;
    }
    .xlg-6 {
        flex-basis: $gridWidthBase * 6;

        max-width: $gridWidthBase * 6;
    }
    .xlg-7 {
        flex-basis: $gridWidthBase * 7;

        max-width: $gridWidthBase * 7;
    }
    .xlg-8 {
        flex-basis: $gridWidthBase * 8;

        max-width: $gridWidthBase * 8;
    }
    .xlg-9 {
        flex-basis: $gridWidthBase * 9;

        max-width: $gridWidthBase * 9;
    }
    .xlg-10 {
        flex-basis: $gridWidthBase * 10;

        max-width: $gridWidthBase * 10;
    }
    .xlg-11 {
        flex-basis: $gridWidthBase * 11;

        max-width: $gridWidthBase * 11;
    }
    .xlg-12 {
        flex-basis: $gridWidthBase * 12;

        max-width: $gridWidthBase * 12;
    }
    .xlg-13 {
        flex-basis: $gridWidthBase * 13;

        max-width: $gridWidthBase * 13;
    }
    .xlg-14 {
        flex-basis: $gridWidthBase * 14;

        max-width: $gridWidthBase * 14;
    }
    .xlg-15 {
        flex-basis: $gridWidthBase * 15;

        max-width: $gridWidthBase * 15;
    }
    .xlg-16 {
        flex-basis: $gridWidthBase * 16;

        max-width: $gridWidthBase * 16;
    }
    .xlg-17 {
        flex-basis: $gridWidthBase * 17;

        max-width: $gridWidthBase * 17;
    }
    .xlg-18 {
        flex-basis: $gridWidthBase * 18;

        max-width: $gridWidthBase * 18;
    }
    .xlg-19 {
        flex-basis: $gridWidthBase * 19;

        max-width: $gridWidthBase * 19;
    }
    .xlg-20 {
        flex-basis: $gridWidthBase * 20;

        max-width: $gridWidthBase * 20;
    }
    .xlg-21 {
        flex-basis: $gridWidthBase * 21;

        max-width: $gridWidthBase * 21;
    }
    .xlg-22 {
        flex-basis: $gridWidthBase * 22;

        max-width: $gridWidthBase * 22;
    }
    .xlg-23 {
        flex-basis: $gridWidthBase * 23;

        max-width: $gridWidthBase * 23;
    }
    .xlg-24 {
        flex-basis: $gridWidthBase * 24;

        max-width: $gridWidthBase * 24;
    }
} /*end xlg*/

@include media(xxlg) {
    .xxlg-1 {
        flex-basis: $gridWidthBase * 1;

        max-width: $gridWidthBase * 1;
    }
    .xxlg-2 {
        flex-basis: $gridWidthBase * 2;

        max-width: $gridWidthBase * 2;
    }
    .xxlg-3 {
        flex-basis: $gridWidthBase * 3;

        max-width: $gridWidthBase * 3;
    }
    .xxlg-4 {
        flex-basis: $gridWidthBase * 4;

        max-width: $gridWidthBase * 4;
    }
    .xxlg-5 {
        flex-basis: $gridWidthBase * 5;

        max-width: $gridWidthBase * 5;
    }
    .xxlg-6 {
        flex-basis: $gridWidthBase * 6;

        max-width: $gridWidthBase * 6;
    }
    .xxlg-7 {
        flex-basis: $gridWidthBase * 7;

        max-width: $gridWidthBase * 7;
    }
    .xxlg-8 {
        flex-basis: $gridWidthBase * 8;

        max-width: $gridWidthBase * 8;
    }
    .xxlg-9 {
        flex-basis: $gridWidthBase * 9;

        max-width: $gridWidthBase * 9;
    }
    .xxlg-10 {
        flex-basis: $gridWidthBase * 10;

        max-width: $gridWidthBase * 10;
    }
    .xxlg-11 {
        flex-basis: $gridWidthBase * 11;

        max-width: $gridWidthBase * 11;
    }
    .xxlg-12 {
        flex-basis: $gridWidthBase * 12;

        max-width: $gridWidthBase * 12;
    }
    .xxlg-13 {
        flex-basis: $gridWidthBase * 13;

        max-width: $gridWidthBase * 13;
    }
    .xxlg-14 {
        flex-basis: $gridWidthBase * 14;

        max-width: $gridWidthBase * 14;
    }
    .xxlg-15 {
        flex-basis: $gridWidthBase * 15;

        max-width: $gridWidthBase * 15;
    }
    .xxlg-16 {
        flex-basis: $gridWidthBase * 16;

        max-width: $gridWidthBase * 16;
    }
    .xxlg-17 {
        flex-basis: $gridWidthBase * 17;

        max-width: $gridWidthBase * 17;
    }
    .xxlg-18 {
        flex-basis: $gridWidthBase * 18;

        max-width: $gridWidthBase * 18;
    }
    .xxlg-19 {
        flex-basis: $gridWidthBase * 19;

        max-width: $gridWidthBase * 19;
    }
    .xxlg-20 {
        flex-basis: $gridWidthBase * 20;

        max-width: $gridWidthBase * 20;
    }
    .xxlg-21 {
        flex-basis: $gridWidthBase * 21;

        max-width: $gridWidthBase * 21;
    }
    .xxlg-22 {
        flex-basis: $gridWidthBase * 22;

        max-width: $gridWidthBase * 22;
    }
    .xxlg-23 {
        flex-basis: $gridWidthBase * 23;

        max-width: $gridWidthBase * 23;
    }
    .xxlg-24 {
        flex-basis: $gridWidthBase * 24;

        max-width: $gridWidthBase * 24;
    }
} /*end xxlg*/
