h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontHighlight;

    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);
    margin-top: 0;
    &.underlined {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $colorGrey;

        &--dot {
            border-bottom-style: dotted;
        }
        &--dash {
            border-bottom-style: dashed;
        }
    }
}
h1 {
    font-size: $h1Size;
}
h2 {
    font-size: $h2Size;
}
h3 {
    font-size: $h3Size;
}
h4 {
    font-size: $h4Size;
}
h5 {
    font-size: $h5Size;
}
h6 {
    font-size: $h6Size;
}
