hr {
    display: block;

    width: 100%;
    height: 1px;
    margin: 10px auto 0;

    border: none;
    outline: none;
    background: $colorGreyDark;

    &.dashed--narrow {
        background: repeating-linear-gradient(to right, rgba($colorBlack, 0.4) 0px, rgba($colorBlack, 0.4) 3px, transparent 3px, transparent 6px);
    }
    &.dashed {
        background: repeating-linear-gradient(to right, rgba($colorBlack, 0.4) 0px, rgba($colorBlack, 0.4) 6px, transparent 6px, transparent 12px);
    }
    &.dashed--wide {
        background: repeating-linear-gradient(to right, rgba($colorBlack, 0.4) 0px, rgba($colorBlack, 0.4) 9px, transparent 9px, transparent 18px);
    }

    &.dotted--narrow {
        background: repeating-linear-gradient(to right, rgba($colorBlack, 0.5) 0px, rgba($colorBlack, 0.5) 1px, transparent 1px, transparent 3px);
    }
    &.dotted {
        background: repeating-linear-gradient(to right, rgba($colorBlack, 0.5) 0px, rgba($colorBlack, 0.5) 1px, transparent 1px, transparent 6px);
    }
    &.dotted--wide {
        background: repeating-linear-gradient(to right, rgba($colorBlack, 0.5) 0px, rgba($colorBlack, 0.5) 1px, transparent 1px, transparent 9px);
    }
}
