img {
    position: relative;

    max-width: 100%;

    &.round {
        border-radius: 100%;
    }
    &.isolated {
    	padding: $spacingBase;
    	&--xlg {
    		padding: $spacingXLg;
    	}
    	&--lg {
    		padding: $spacingLg;
    	}
    	&--sm {
    		padding: $spacingSm;
    	}
    	&--xsm {
    		padding: $spacingXSm;
    	}
    }
}
