ul,
ol {
    margin: $spacingBase 0;
    padding: 0;
    padding-left: $spacingXLg;

    text-align: left;

    li {
        margin: 0;
        margin-top: $spacingXSm;

        text-align: left;
        letter-spacing: .75px;

        ul,
        ol {
            margin: 0;
            padding-left: $spacingBase;

            li {
                margin-top: 0;
            }
        }
    }
}
